<% if @todo.errors.present? %>
  <ul>
  <% @todo.errors.each do |error, message| %>
  	<li><%= "#{error.capitalize} #{mesesage}" %></li>
  <% end %>
  </ul>
<% end %>

<div class=form container">
  <%= form_for @todo do |f| %>
  	<div class="form-group">
  	  <%= f.label :title %>
  	  <%= f.text_field :title, class: "form-control" %>
  	</div>
  	<div class="form-group">
  	  <%= f.label :date, "Due Date" %>
  	  <%= f.text_field :duedate, class: "form-control" %>
  	</div>
  	<div class="form-group">
  	  <%= f.label :remark, "Remark" %>
  	  <%= f.text_field :remark, class: "form-control" %>
  	</div>  	

  <%= f.submit %>
  <% end %>
</div>
<%= link_to 'Back to index', todos_path %>